fastapi
uvicorn
jinja2
python-multipart
python-dotenv

langchain
langchain-openai
langchain-core
langgraph
langchain-text-splitters
langgraph-checkpoint-postgres
langsmith

pypdf
docx2txt
langchain-tavily
tavily-python
sqlalchemy
psycopg[binary]
pgvector
pydantic-settings
alembic